html {
	font-family : sans-serif;
	font-size   : 12px;
}
div {
	display: block;
}
ul {
	list-style-type : none;
}
#holder, #appendNow {
	width    : 1224px;
	display  : block;
	padding  : 0;
	margin   : 0 auto;
	overflow : hidden;
	position : relative;
}
#appendNow {
	text-align     : right;
	padding-right  : 15px;
	font-size      : 16px;
	font-weight    : bold;
	color          : #0000ff;
	text-transform : uppercase;
	cursor         : pointer;
}
#loading {
	position       : absolute;
	top            : 0;
	right          : 0;
	width          : 70px;
	background     : rgba(0,0,0,.2);
	padding        : 10px;
	color          : #fff;
	text-transform : uppercase;
	min-height     :  18px;
}
.vid-tab {
	padding  : 0;
	height   : 309px;
}
.vid-tab li {
	width    : 282px;
	margin   : 12px;
	float    : left;
	position : relative;
}
.vid-tab li .play-video {
	width                   : 100%;
	height                  : 190px;
	position                : absolute;
	border-top-left-radius  : 3px;
	border-top-right-radius : 3px;
	top                     : 0px;
	left                    : 0px;
	background              : rgba(0, 0, 0, .7);
	opacity                 : 0;
	transition              : .3s;
	-moz-transition         : .3s;
	-webkit-transition      : .3s;
	-o-transition           : .3s;
}
.vid-tab li .play-video img {
	position : relative;
	margin   : 0 auto;
	display  : block;
	top      : 65px;
}
.vid-tab .later {
	position   : absolute;
	bottom     : 14px;
	right      : -19px;
	z-index    : 4;
	opacity    : 0;
	cursor     : pointer;
	height     : 88px;
	width      : 105px;
	background : url('../img/watch-later-hover.png') no-repeat;
}
.vid-tab li img.related {
	width: 100%;
}
.prevNext {
	cursor      : pointer;
	width       : 45px;
	height      : 281px;
	background  : url('../img/left-arrow.png') no-repeat center center rgba(0,0,0,.1);
	text-indent : -9999px;
	border      : 0;
	z-index     : 10000;
	position    : absolute;
	top         : 0;
	left        : 0;
	margin-top  : 24px;
	display     : none;
}
.nextLink {
	background  : url('../img/left-arrow-right.png') no-repeat center center rgba(0,0,0,.1);
	right: 0;
	left: auto;
}
#holder:hover .prevNext {
	display: inline-block;
}
li.dummy {
	width: 282px;
	height: 281px;
	background: rgba(0,0,0,1);
}
li.dummy.black {
	background: rgba(0,0,0,.3);
}
li.dummy.red {
	background: rgba(255,0,0,.3);
}
li.dummy.green {
	background: rgba(0,255,0,.3);
}
li.dummy.blue {
	background: rgba(0,0,255,.3);
}
li > div {
	font-size      : 88px;
	display        : block;
	vertical-align : middle;
	text-align     : center;
	margin         : 32% 0;
	text-shadow    : rgba(0,0,0,.5) 1px 1px 1px;
	color          : white;
}