.prevNext {
	cursor      : pointer;
	width       : 45px;
	height      : 281px;
	background  : url('../img/left-arrow.png') no-repeat center center rgba(0,0,0,.1);
	text-indent : -9999px;
	border      : 0;
	z-index     : 10000;
	position    : absolute;
	top         : 0;
	left        : 0;
	margin-top  : 24px;
	display     : none;
}
.nextLink {
	background  : url('../img/left-arrow-right.png') no-repeat center center rgba(0,0,0,.1);
	right: 0;
	left: auto;
}